
#contenedor{
	background:grey;
	height:100%;
	width:100%
}
#logodiv{
	background:red;
	height:200px;
}

#calendario{
	background:grey;
	height:200px;
	width:20%;
	float:right;
}
#informacion{
	background:green;
	height:100%;
}

#info1{
	background:white;
	width:100%;
	height:100%;
	padding:50px;
	
}



.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px
}
.carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
    } 
    .item:nth-child(1) {
      background: url('foto1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(2) {
      background: url('mestalla2.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(3) {
      background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/D2ROMCUEIV.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }
	
	

.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: inline-block;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}


li a.active, li a:hover{
    background: #000090;
    transition: .5s;
	color:white;
}


.contenido {
  padding-top: 80px;
}

div.noticia1 img{
		height:100%;
		width:250px;
}

div.mapa{
	height:100%;
	width:100%;
	padding:50px;
	text-align:center;
}

table.bajo {
   width: 100%;
   
}
td {
   width: 25%;
   
}

.socialw {
width: 235px;
margin: 30px auto 0 auto;
overflow: auto;
height: 100%;
}

.social{
  position:relative;
border: 1px solid #292929;
width: 37px;
height: 62px;
float: left;
margin-left: 10px;
overflow: hidden;
}

.first {
margin-left: 0px;
}
@-webkit-keyframes fadeInDown {
0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }
100% {  opacity: 1;  -webkit-transform: translateY(0);}
}

@-moz-keyframes fadeInDown {
0% {  opacity: 0;  -moz-transform: translateY(-100px);}
100% {  opacity: 1;  -moz-transform: translateY(0);  }
}

@-o-keyframes fadeInDown {
0% {  opacity: 0;  -o-transform: translateY(-100px);}
100% {  opacity: 1;  -o-transform: translateY(0);  }
}

@keyframes fadeInDown {
0% {  opacity: 0;  transform: translateY(-100px);}
100% {  opacity: 1;  transform: translateY(0);}
}

.fadeInDown {
-webkit-animation: fadeInDown 1s both 0.5s;
-moz-animation: fadeInDown 1s both 0.5s;
-o-animation: fadeInDown 1s both 0.5s;
animation: fadeInDown 1s both 0.5s;
}
.social img{
position:absolute;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
}

#patrocinadores{
	width:100%;
	height:100%;
	text-align:center;
	
}

.info:link{
		color:black;
}
.info:hover{
		color:white;
		background:#D3D3D3;
}

#bajo {
	background: url('cesped.png');
	
}













div.formulario1 .testbox {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

div.formulario1 input[type=radio] {
  visibility: hidden;
}

div.formulario1 form{
  margin: 0 30px;
}

div.formulario1 label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

div.formulario1 label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

div.formulario1 label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

div.formulario1 input[type=radio]:checked + label:after {
	opacity: 1;
}

div.formulario1 hr{
  color: #a9a9a9;
  opacity: 0.3;
}

div.formulario1 input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

div.formulario1 input[type=password]{
  margin-bottom: 25px;
}

div.formulario1 #icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

div.formulario1 .gender {
  margin-left: 30px;
  margin-bottom: 30px;
}

div.formulario1 .accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

div.formulario1 a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 20px 40px 20px 40px;
  margin: 10px 10px 10px 0px;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  text-align: center;
}

div.formulario1 a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}




div.formulario2 .row {
  width: 550px;
  margin: 30px auto;
}

div.formulario2 .col {
  width: 250px;
  float: left;
}

div.formulario2 .col.left {
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0px #fff;
  color: #333;
  padding-bottom: 10px;
}

div.formulario2 .col.right {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #aaa;
}

div.formulario2 h1 {
  font-weight: 100;
  margin: 0;
}

div.formulario2 .btn {
	background-color: #8E8E8E;
	border: 0;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	box-shadow: 2px 2px 2px #111;
  width: 100%;
	height: 40px;
	text-align: left;
  position: relative;
  padding: 0;
  margin: 10px 0;
}

div.formulario2 .btn span {
  font-size: 16px;
  line-height: 40px;
}

div.formulario2 .btn:active {
  top: 1px;
  box-shadow: 1px 1px 2px #000;
}

div.formulario2 .btn i {
  margin-right: 10px
}

div.formulario2 .facebook {
  background-color: #3B5998;
}

div.formulario2 .facebook i {
	float: left;
	width: 44px;
	height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center;
}

div.formulario2 .twitter {
  background-color: #1CB5E8;
}

div.formulario2 .twitter i {
  float: left;
  width: 44px;
  height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAi5JREFUeNrs2M1LVFEYx3GvDoWvEKSMhhqBSrhQjCwXRuDKjbVoIYgQbVy0CXduWgT+BS5cSgUJvdmmVb4giIHRSpTEUjcGLnwtDUy7fQ88wnVQ5zlzzyyE88AHFY7n/uaZc+85M0EYhjnnqXJzzln5wD6wD+wD+8DWdRV9+IxFfMRDFETGFKFBNZvZ6ZTuotFivHELX/EvPF4HeIU6tGEEzzRzai9chHG5eJXyf2qwEJ5dO/JzCmWaebVLogQVaMJ7NKcZn4cnqE0zrhjbWECvyzUcSAhTN/ABj3HhlPGluK+c26zlLqy5XMMlGE15O826nEYnLiOIjK89Yd2eVht4oL0vEsou7OAN2lK63iLm8Akz+IFL+HvGOxCtbxjXPnISFuNe4yYeSdho1QtTm/gdWUKaynP9HE5iQH5fTzPWdLfSIsRP7Lru8B6uy1Pi0PHG8l3md9rhDby0ffs09zzms7U1v8A7x91dli07K4FNl3vQj1XpTtyalCWRtcOPWWtLcqG9mGHNo/K57QtPWF5kH/fQ4aC7I/LCLVe93enLqMaXMF4tWRyiMjqtnRR6EKv4Yxl2C+0ZXjfjwEeuYdgi7C664lxTOzA35e+kHLzfYl8Zdg3dMRukvunuoBX5svU2y66nrTE8xXTcO1Ub2Oz3F+WzWLnF/BMYkvPzLxc7TWD57WVSDvCm47dxBYXyPD+QUCvSSRN2Flsut8bAf93qA/vAPrAP7APb1H8BBgDZp0G+vm9PBgAAAABJRU5ErkJggg==") no-repeat center center;
}

div.formulario2 .plus {
  padding-left: 54px;
  background-color: #393838;
}

div.formulario2 .plus .i {
  border-radius: 3px;
	position: absolute;
	border-top: 8px solid #D64335;
	width: 44px;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-right: 1px solid #343434;
  line-height: 26px;
}

div.formulario2 .plus i:before {
	content: "g";
	font: 26px "Palatino Linotype", Georgia, serif;
  text-shadow: 1px 1px 1px #444;
  line-height: 0px;
  margin-left: 10px;
}

div.formulario2 .plus i:after {
	content: "+";
	border-left: 11px solid #426AAD;
	background-color: #32A45E;
	border-right: 11px solid #F8CA32;
	width: 11px;
	font: 18px "Palatino Linotype", Georgia, serif;
  line-height: 38px;
	position: absolute;
	top: -8px;
	left: 12px;
  height: 8px;
}

#valoracion {
	text-align:center;
	height:100%;
	width:100%;
}